[submodule ".registry"]
	path = .registry
	url = https://github.com/mshin77/mshin77.r-universe.dev
	branch = HEAD
[submodule "TextAnalysisR"]
	path = TextAnalysisR
	url = https://github.com/mshin77/TextAnalysisR
[submodule "a11yviz"]
	path = a11yviz
	url = https://github.com/mshin77/a11yviz
